<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
  <display-name>Simple MVC</display-name>
  <servlet>
    <servlet-name>MVC</servlet-name>
    <servlet-class>ntou.cs.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVC</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>HelloWorld</welcome-file>
  </welcome-file-list>
</web-app>
